@import "tailwindcss";

.scroll::-webkit-scrollbar{
    display: none;

}


 .user{
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 10px;
    background-color: rgb(52, 50, 50);
    max-width: 60vw;
    min-width: 10vw;
    align-self: flex-end;
}

.response{
    padding: 3px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    background-color:rgb(46, 48, 46);
    max-width: 60vw;
    align-self: flex-start;
    min-width: 10vw; 

} 

